ul,ol,.recipes,p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    width : auto;
    background-color: beige;
    /* text-align: center; */
    display: block;
    padding: 30px;
    margin : 0 400px;
}

.recipes{
    text-align: center;
    margin: 0 0px ;
}
img{
    height:225px;
    width: 225px;
}

.shadow{
    box-sizing: border-box;
    background-color: #00000030;
    height:225px;
    width: 225px;
    border: 225px;
    margin-left: 875px;
    margin-top: -195px;
    align-content: center;
    border-color: #00000030;
}


h1,h2{
    background-color: blanchedalmond;
    margin: 30px 700px;
}

body{
    background : grey;
}

h1,h2,div{
    text-align: center;
    align-items: center;
}

.recipes li{
    
    display: inline-block;
}
.recipe{
    border: 5px thin greenyellow;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px 150px;
    background-color: greenyellow;
}
a{
    display: block;
}